html {
  box-sizing: border-box;

}

*, *:before, *:after {

  box-sizing: inherit;
}

body {
  background-color: #92bbd1;
  background-image: linear-gradient(163deg, #92bbd1 0%, #ffffff 100%);
  min-height: 100vh;

}

section {
  background: #ffffff;
}

.secondary-heading {
  color: #1460aa;
}

.special-heading {
  color: #21a179;
}

a {
  color: #02e4d5;
}

.header {
  background-color: #fff;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation {
  padding: 16px;
  display: none;
}

.navigation--open {
  display: block;
}

.navigation__link {
  color: #92140c;
  display: block;
  margin: 0 0 16px;
}

.navigation__link--homepage {
  color: black;
}

.week-summary {
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.week-summary--special {
  border: 1px #92140c solid;
}

.week-summary__description {
  color: #92140c;
}

.week-summary__title {
  color: #21a179;
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
}

.main__heading {
  color: #92140c;
}

.about {
}

.about__heading {
  color: #1460aa;
}

.about__link {
  color: #92140c;
}

.about__picture {
  display: block;
  max-width: 100%;
}

.notes {
}

.notes__heading {
  color: #1460aa;
}

.footer {
  max-width: 1000px;
  margin: 0px auto;
}

.footer__link {
  color: #1460aa;
}

.list {
  list-style: square;
}

.table {
  width: 100%;
}

.klasa-z-js {
  background-color: yellow;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background-color: none;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}



@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navigation {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
}