body {
  background: lightgray;
}

section {
  background: #ffffff;
}

.secondary-heading {
  color: #1460aa;
}

.special-heading {
  color: #21a179;
}

a {
  color: #02e4d5;
}

.header-link {
  color: #04ac26;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: black;
}

.week-summary {
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.week-summary--special {
  border: 1px #92140c solid;
}

.week-summary__description {
  color: #92140c;
}

.week-summary__title {
  color: #21a179;
}

.main {
  max-width: 1000px;
  margin: 0px auto;
}

.main__heading {
  color: #92140c;
}

.about {
}

.about__heading {
  color: #1460aa;
}

.about__link {
  color: #92140c;
}

.notes {
}

.notes__heading {
  color: #1460aa;
}

.footer {
  max-width: 1000px;
  margin: 0px auto;
}

.footer__link {
  color: #1460aa;
}
